In [31]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [8]:
data = pd.read_excel('data.xlsx', sheet_name = 'All data')

In [9]:
data.head()

,EMPLID,Cognitive Ability Test,Situational Judgement Test,Personality Assessment,Performance,Graph
0,C2024769,10.0,5.0,5,8,NaN
1,C2013341,9.0,5.0,7,8,NaN
2,C2024348,9.0,6.0,5,8,NaN
3,C2001411,8.0,5.0,9,8,NaN
4,C2012695,8.0,5.0,7,6,NaN

In [13]:
data.shape

(200, 6)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EMPLID                      200 non-null    object
 1   Cognitive Ability Test      197 non-null    float64
 2   Situational Judgement Test  196 non-null    float64
 3   Personality Assessment      200 non-null    int64
 4   Performance                 200 non-null    int64
 5   Graph                       0 non-null      float64
dtypes: float64(3), int64(2), object(1)
memory usage: 9.5+ KB

In [12]:
data.Graph.isna().sum()

200

In [14]:
data = data.drop('Graph', 1)

In [15]:
data.head()

,EMPLID,Cognitive Ability Test,Situational Judgement Test,Personality Assessment,Performance
0,C2024769,10.0,5.0,5,8
1,C2013341,9.0,5.0,7,8
2,C2024348,9.0,6.0,5,8
3,C2001411,8.0,5.0,9,8
4,C2012695,8.0,5.0,7,6

In [16]:
data.isna().sum()

EMPLID                        0
Cognitive Ability Test        3
Situational Judgement Test    4
Personality Assessment        0
Performance                   0
dtype: int64

In [17]:
data['Cognitive Ability Test'].value_counts()

1.0     58
4.0     33
3.0     32
2.0     28
5.0     19
7.0     12
6.0      9
8.0      3
9.0      2
10.0     1
Name: Cognitive Ability Test, dtype: int64

In [18]:
data['Cognitive Ability Test'].mean()

3.182741116751269

### Filling Missing Values

In [20]:
data['Cognitive Ability Test'].fillna(int(data['Cognitive Ability Test'].mean()), inplace = True)

In [21]:
data['Situational Judgement Test'].fillna(int(data['Situational Judgement Test'].mean()), inplace = True)

In [22]:
data.isna().sum()

EMPLID                        0
Cognitive Ability Test        0
Situational Judgement Test    0
Personality Assessment        0
Performance                   0
dtype: int64

## Linear Regression

In [24]:
data.columns

Index(['EMPLID', 'Cognitive Ability Test', 'Situational Judgement Test',
       'Personality Assessment', 'Performance'],
      dtype='object')

In [25]:
x = data[['Cognitive Ability Test', 'Situational Judgement Test', 'Personality Assessment']]
y = data['Performance']

In [33]:
model = sm.OLS(y, x).fit()

In [34]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            Performance   R-squared (uncentered):                   0.965
Model:                            OLS   Adj. R-squared (uncentered):              0.964
Method:                 Least Squares   F-statistic:                              1811.
Date:                Thu, 08 Apr 2021   Prob (F-statistic):                   4.30e-143
Time:                        20:35:21   Log-Likelihood:                         -283.75
No. Observations:                 200   AIC:                                      573.5
Df Residuals:                     197   BIC:                                      583.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Cognitive Ability Test         0.3683      0.034     10.691      0.000       0.300       0.436
Situational Judgement Test     0.4151      0.037     11.091      0.000       0.341       0.489
Personality Assessment         0.2965      0.029     10.105      0.000       0.239       0.354
==============================================================================
Omnibus:                        3.356   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.187   Jarque-Bera (JB):                3.161
Skew:                          -0.188   Prob(JB):                        0.206
Kurtosis:                       3.488   Cond. No.                         5.68
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""